* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}
.dollar{
	color: #e6edf3;
}


nav {
	width: 100%;
	height: 64px;
	background-color: #010409;
	display: flex;
	align-items: center;
	gap: 0.2rem;


}
.pink{
	word-break: break-all;
}

nav>i {
	font-size: 3.5rem;
	background-color: whitesmoke;
	clip-path: circle(40%);

}

a {
	color: whitesmoke;
	text-decoration: none;

}

nav>h4 {
	color: whitesmoke;
}

.list {
	width: 100%;
	height: 64px;
}

.list>ul {
	width: 100%;
	height: 64px;
	display: flex;
	align-items: center;
	justify-content: flex-end;

}

.release {
	margin-right: 5rem;
}

.manual {
	margin-right: 1.4rem;
}

/* navbar media query */
@media (min-width:0px) and (max-width:425px) {
	.release {
		margin-right: 3rem;
	}
}

li {
	list-style-type: none;
}

@media (min-width:0px) and (max-width:280px) {
	.release {
		margin-right: 0.5rem;


	}

	.manual {
		margin-right: 1rem;
	}
}

.body-content {
	background-color: #010409;
	width: 100%;
	height: 75vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;

}

.main {
	color: #e6edf3;

	align-items: center;
	display: flex;
	flex-direction: column;
	width: 60%;
	height: 70vh;
	
}
.box{
	width: 22%;
}

.main>h1 {
	font-size: 4.5rem;

}

.main>p {
	color: #e6edf3;
	font-size: 1.5rem;
	padding-right: 20rem;
}

@media (min-width:0px) and (max-width:767px) {
	.body-content .main {
		width: 100%;
		align-items: flex-start;
		flex-wrap: nowrap;
		padding-left: 1rem;

	}


	.main>h1 {
		font-size: 2.5rem;

	}

	.main>p {
		font-size: 1.25rem;
		padding-right: 0rem;
	}

}

@media (min-width:768px)and (max-width:1024px) {
	.main>h1 {
		font-size: 3.5rem;
		
	}
	.body-content .main {
		width: 100%;
		align-items: flex-start;
		flex-wrap: nowrap;
		padding-left: 1rem;

	}
	.main>p {
		
		padding-right: 0rem;
	}

}
button{
	padding: 1rem;
	margin: 1rem 0;
	
	
}
.Dawnload{
	width: 100%;
	display: flex;
	justify-content: flex-start;
	
}
.Installation{
	
	width: 100%;
	display: flex;
	justify-content: flex-start;
	
}
.java{
	width: 100%;
	height: 120vh;

background: linear-gradient(to bottom, #3f143f 0%, #2e2828 53%);
	
	display: flex;
	flex-direction: column;
	align-items: center;
}
.java>h1{
	margin-top: 2rem;
	
}
.java>h1::first-letter{
	color: #4481f8;
}
.movement{
	width: 80%;
	height:80vh; 
	margin-top: 1rem;
	background-color: #010409;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}
.movement>p{
	color: #e6edf3;
}
.purple{
	padding: 0.25rem 0.5rem;
	background-color: #8957e5;
	color: #ffffff;
	margin-left: 1.5rem;
	
}
p>span{
	color: #f85149;
	background-color: #484f58;
	padding: 0.21rem;
}
.one{
	color: #6e7681;
}
.pink{
	color: #db61a2;
}
#view{
	color:#6e7681 ;
}
.para123{
	padding-left: 0.9rem;
	
	padding-top: 0.5rem;
}
.para4 {
	padding-left: 1.5rem;
	padding-right: 1rem;
	padding-bottom: 1rem;
	line-height: 3rem;
}
.one{
	padding-left: 1.5rem;
	line-height: 3rem;
}
.pink{
	padding-left: 1.6rem;
	padding-right: 1rem;

}
#view{
	padding: 1rem;
}

@media (min-width:0px) and (max-width:768px){
	.movement{
		width: 93%;
		height: 90vh;
	}

	.para4{
		line-height:1.5rem ;
	}
	.one{
		line-height: 1.5rem;
	}
.java{
	height: 130vh;
}
.outer{
	font-size: 1rem !important;
	padding-top: 2.5rem !important;
}



}
@media (min-width:0px) and (max-width:375px){
	.movement{
		justify-content: flex-start;
		align-items: flex-start;
		
	}

	.outer{
		font-size: 1rem !important;
		padding-top: 0.5rem !important;
	}

	
}


.outer{
	color: #e6edf3;
	font-size: 1.5rem;
	padding-top: 2rem;
}
/* end main */
.main-content{
	width: 100%;
	height: 60vh;
	background-color: #ffffff;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	justify-content: baseline;
}
.goodbye>h1{
	font-size: 4rem;
	width: 70%;
	padding-top: 1rem;
	padding-right: 3.75rem;
	
	
	color: #1f2328;
}
.goodbye{
	display: flex;
	flex-wrap: wrap;
	
}
@media (min-width:576px) and (max-width:768px){
	.goodbye>h1{
		font-size: 3rem;
	}
}
@media (min-width:0px) and (max-width:576px){
	.goodbye>h1{
		font-size: 2rem;
		width: 97%;
	}
	.box>h1{
		font-size: 1.25rem;
		
	}
	.goodbye>h1{
		padding-left: 0.25rem;
	}
}
@media (min-width:528px) and (max-width:575px){
	.box{
		width: 20%;
		height: 10vh !important;
		
		
	
	}
	.goodbye h1{
		padding-top: 3rem;
	}


}

@media (min-width:768px) and (max-width:801px){
	.card{
		height: 60vh !important;
	}
}


.arrow{
	color: #0969da;
	font-size: 0.8rem;
	padding-top: 1rem;
}
.box>h1{
	font-size: 1.5rem;
	padding-bottom: 0.8rem;
}
.paragraph{
	font-size: 0.9rem;
}
.card{
	height: 50vh !important;
	padding-bottom: 10rem !important;
}
@media (min-width:0px) and (max-width:767px){
	.box{
		width: 100%;
		height:20vh;

	}
	.box>h1{
		padding-bottom:0.4rem ;
		padding-left: 0.25rem;
	}
	.arrow{
		padding-top: 0.5rem;
		padding: 0.5rem;
	}
	.paragraph{
		padding-left: 0.5rem;
	}
	.main-content{
		height: 130vh;
	}

}
@media (min-width:768px) and (max-width:1104px){
	.main-content{
		height: 105vh;
		
	}
	.box{
		height: 45vh;
		width: 22%;
		
		
	}
	
	.goodbye>h1{
		width: 80%;
		padding-left: 0.8rem;
		padding-top: 5rem;
	}
}
.square{
	width: 90%;
	height: 60vh;
	background-image: url(square-pattern\ \(3\).png);
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-left: 2rem;
	justify-content: center;
	
}
.card{
	
	width: 45%;
	height: 40vh !important;
	border-radius: 0.8rem;
	box-shadow: 4px 10px 25px 10px rgba(0,0,0,0.1);

	


}






.card>p{
	padding-left: 2rem;
	color: #6e7781;
}
.card>h1{
	font-size:2rem;
	padding-left: 2rem;
	color: #1f2328;
	margin-bottom: 0.8rem;
	margin-top: 2rem;
	
}
.card>button{
	margin-bottom: 0.8ren;
	margin-left: 2rem;
	background-color: #1b1f23;
	color: #ffffff;

}
.left{
	color: #0969da;
}

@media (min-width:0px) and (max-width:378px){
	.outer{
		margin-top: 1.5rem;
	}
}



@media (min-width:0px) and (max-width:767px){
	.card>h1{
		font-size: 1.5rem;
		
	}
	.square{
		width: 90%;
	}
}
@media (min-width:768px) and (max-width:1024px){
	.card>h1{
		font-size:1.8rem;
	}
}



@media (min-width:577px) and (max-width:769px){
	.card{
		width: 95%;
		height: 50vh;
		
		
	}

}
@media (min-width:0px) and (max-width:576px){
	.card{ 
		width: 95%;
		height: 50vh;

	}
	

.card>button{

	margin-bottom: 0.4rem;
}



}
@media (min-width:769px) and (max-width:1024px){
.card{
height: 44vh;
width: 60% !important;
padding-bottom: 10rem !important;
}


}
@media (min-width:1025px) and (max-width:1250px){
.card{
	width: 60% !important;
	height: 40vh !important;
}

	
}
.footer{
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 80vh;
	padding-top: 7rem;
	position: relative;
	background-color:#ffffff;
	flex-wrap: wrap;
}
.dark,h4{
	color:#1f2328 ;
}
.items a{
	color: #6e7781;
	font-size: 0.9rem;
}
.padding{
	padding-right: 7rem;
}
.git{
	padding-left: 3rem;
	padding-right: 7rem;
}
.items li{
	line-height: 2.5rem !important;
}
h4{
	line-height: 2.5rem;
}

@media (min-width:0px) and (max-width:1012px){
	.head {
		
		width: 10%;
		height: 30px;
		position: absolute;
		top: 3rem;
		
		
	

	
	
		
	}

	
	.group2{
		padding-left: 2rem !important;
	}
	.dark{
		position: absolute;
	}
	
	.git{
		height: 30px;
		position: absolute;
		width: 10%;
	}
	.footer{
		width: 100%;
	}
	.group{
		padding-top: 2rem;
	}
	
}
@media (min-width:0px) and (max-width:600px){
	.group{
		width: 45%;
		
	}
	.footer{
	height: 80vh;
	}
	.group3{
		padding-left: 2rem !important;
	}
	.footer{
		padding-bottom: 44rem !important;
	}
}


.left{
	color: #0969da !important;
}
@media (min-width:601px) and (max-width:1012px){
	.footer{
		padding-bottom: 25rem;
	}
}
.footer2{
	width: 100%;
	height: 10vh;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.footercontaint{
	margin-top: 3rem;
	width: 100%;
	height: 10vh;
	background-color: rgb(230, 237, 243);
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	
}
@media (min-width:1024px) and ( max-width:1200px){

.footercontaint{
	margin-top: 2rem;
}
.footer2{
	height: 15vh;
}

	
}
.last{
	color: #1f2328;
	padding: 0.5rem;
}
.flex{
	display: flex;
	align-items: center;
}
.icon i{
	padding-right: 1rem;
	font-size: 1rem;
}
#git{
	padding-right: 5rem;
}
.flex p{
	padding-left: 2rem;
}
@media (max-width:576px){
	.icon i{
		padding-left: 1rem;
	}
	 .flex p{
		padding-left: 1rem !important;

	}
	
}
.last:hover{
	text-decoration: underline;

}
@media(min-width:836px) and (max-width:1024px){
	.body-content{
		height: 70vh !important;
	}
	.main{
		height: 56vh !important;
		margin-top: 2rem;
	}



}
@media (min-width:768px) and (max-width:835px){
	.body-content{
		height: 70vh;
		
	}
	.main{
		height: 60vh;
		
	}
}
@media (min-width:600px) and (max-width:767px){
	.body-content{
		height: 45vh;
		
	}
	.main{
		height: 45vh;
		
	}
}
@media (min-width:552px) and (max-width:600px){
	.body-content{
		height: 50vh;
		
	}
	.main{
		height: 50vh;
		
	}
}
@media (min-width:425px) and (max-width:551px){
	.body-content{
		height: 55vh;
		
	}
	.main{
		height: 55vh;
		
	}
}
@media (min-width:320px) and (max-width:424px){
	.body-content{
		height: 55vh;
		
	}
	.main{
		height: 55vh;
		
	}
}
@media (min-width:576px) and (max-width:768px){
	.movement{
		height: 84vh;
	}
	.java{
		height: 124vh;
	}
}
@media (min-width:425px) and (max-width:575px){
	.movement{
		height: 84vh;
	}
	.java{
		height: 124vh;
	}
}
@media (min-width:320px) and (max-width:424px){
	.movement{
		height: 84vh;
	}
	.java{
		height: 124vh;
	}
}
@media (min-width:0px) and (max-width:320px){
	.movement{
		height: 90vh;
	}
	.java{
		height: 130vh;
	}
	.card{
		width: 95% !important;
		height: 55vh !important;
		margin-right: 2rem !important;
		padding-bottom: 5rem;
	}
}

.main{
	height: 69vh;
}
.body-content{
	height: 69vh;
}
@media(max-width:324px){
	.card{
		height: 60vh !important;
	}
}
@media (min-width:768px) and (max-width:907px){
	.movement{
		height: 90vh;
	}
	.java{
		height: 134vh !important;
	}
}
@media (max-width:767px){
	.goodbye h1{
		padding-left: 0.8rem;
	}
	.paragraph{
		padding-left: 0.8rem;
	}
	.box h1{
		padding-left: 0.8rem;
	}
	.arrow{
		padding-left: 0.8rem;
	}
}
@media (min-width:769px) and (max-width:818px){

.card{
	width: 65% !important;
	height: 40vh !important;
}


}
@media (min-width:818px) and (max-width:838px){

	.card{
		width: 70% !important;
		height: 40vh !important;
	}
}

